@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    background-image:url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #000;
    
    background-color:#007dc5;


}
body.admin{
    color: #000;
}
.logo{
    max-height:100px;
}

body.batch56, body.batch57{
    background-image:url(../img/bg_batch5657.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

body.batch59{
    background-image:url(../img/bg_batch59.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

body.batch61{
    background-image:url(../img/bg_batch61.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}


body.batch60{
    background-image:url(../img/bg_batch60.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}


body.batch63{
    background-image:url(../img/bg_batch63.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

body.batch62{
    background-image:url(../img/bg_batch62.jpg);
    background-position:left center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

.top-nav{
    color: #009ed5 !important;
}
.top-nav h6,
.top-nav h5{
    text-transform:uppercase;
}
.logo{
    height:60px;
    margin-top:15px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
small{
    color: red;
}
/*home page*/

form {
  width: 100%;
  /*margin: 20px auto;*/
  background-color: #007dc5;
  padding: 30px 40px 30px 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  color: #fff;
}
h1{
    text-transform:uppercase;
    font-size:2em;
    text-align:left;
    color: #f8f9fa;
}
#ques-message, #message, #login-message {
    margin-bottom: 15px;
    padding: 5px 10px;
}
label {
  display: block;
  position: relative;
  margin: 30px 0px;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #CC0000;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
  text-transform: uppercase;
}

button:hover {
  background: #cc0000;
  color: #ffffff;
}
        
/*home page*/
.dropdown-menu{
    font-size:1em;
}
.video-panel{
    box-shadow: 0px 1px 7px 1px rgba(255,255,255,0.2);
    margin-bottom: 10px;
}





#msg{
    width:100%;
    margin-top: 10px;
    text-transform: uppercase;
}

.content-area{
    margin-top:50px;
}


#success-alert{
    display:block;
}


form.panel-body{
    margin:auto;
}


#question-form {
background-color:#efefef;
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#question-form textarea { resize: none; }

#question-form h6{
    font-size:1.2em;
    margin-top: 5px;
    margin-left: 10px;
    text-transform:uppercase;
}

.panel-body {
    padding: 15px;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#question-form .form-control,
#question-form button{
    font-size: 1em;
}

#question-form button:focus,
#question-form .form-control:focus{
    box-shadow: none;
}

.bottom{
    margin:0;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
}

.bottom a{
    color: #343a40;
    text-decoration:none;
    font-weight: bold;
}

.user-info{
    background-color:#ccc;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding:10px;
    margin-bottom:2px;
    border-radius:4px 4px 0 0;
}
.user-details{
   background-color:#ddd;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    padding:10px;
    margin-bottom:15px;
    border-radius:0 0 4px 4px;
    
}
.page-link:focus{
    box-shadow: none;
}

#ques_count{
    display:inline-block;
}

#ques_update{
    color: #cc0000;
    font-weight: bold;
}
#ques_update a{
    color:#495057;
    font-style:italic;
    margin-left:10px;
}
@media only screen and (max-width:600px){
    .video-panel{
        padding:10px 15px 15px;
    }
    .video-area {
        margin-bottom: 10px;
    }
    #video, #vod-video {
        border: 5px solid #dee2e6;
    }

    #slide {
        border: 5px solid #dee2e6;
        margin: 0px 0px 5px 0px;
    }
}

.dr-photo{
    max-height:500px;
    width:auto;
}

#register-form{
    max-width:600px;
}

h3.title{
    font-size:2.75em;
    text-transform:uppercase;
}

h4{
    font-size:2.5em;
}
h5{
    font-size:2em;
}
h6{
    font-size:1.5em;
}
.info{
    padding:5px 0;
    border-bottom: 0px solid #ccc;
}

.icons{
    padding:10px 0;
}

.icons a{
    margin: 0 5px;
}
.icons img{
    height:25px;
    width:auto;
}
.icons i{
    font-size:1em;
}
.icons .web{
}

.batches img{
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.3);
        margin-bottom: 20px;
}

#videolinks{
    margin-bottom:5px;
}

.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  /*margin: 80px 0 0 10px;
  text-align: left;*/
  margin-bottom:-21px;
}

h4.vid-link{
    font-size:1em;
    background-color:#e9ecef;
    padding:1em 1.5em;
    color:#000;
}
h4.vid-link.act{
    color:#fff;
    background-color:#000;
    border:1px solid #000;
    border-bottom:none;
}

.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
}
